@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #b37300;

  --gray-color-1: #5a5a5a;
  --gray-color-2: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary-color);
}
