@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply overflow-x-hidden  max-w-full bg-black;
}

main {
  @apply container mx-auto overflow-x-hidden;
}

h2 {
  @apply text-center font-medium text-2xl mb-3 text-primary;
}

h3 {
  @apply text-base font-medium mb-0;
}

section {
  @apply px-6 py-8;
}

footer {
  @apply px-6 py-6 bg-black;
}

.bk {
  display: block;
  background-color: rgb(179, 116, 0, 0.2);
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1;
  @apply w-6 h-6 rounded-full;
}

.icon {
  z-index: 20;
  bottom: 0;
  @apply h-6 w-6 absolute;
}
